{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <form method="post" class="form-login client-form">
      <div id="logo"><a href="{{path("fos_user_security_login")}}"><img src="/images/sinervis_logo.png"></a></div>
      <h2 class="form-login-heading">Richiesta nuova password</h2>

      <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert"> × </button>
          <i class="fa-fw fa fa-times"></i>
          {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
      </div>
      <div id="forgot-pw">
          <a data-toggle="modal" href="{{path("fos_user_security_login")}}" class="btn btn-lg btn-login btn-block" style="color: #fff;">Ritorna a login</a>
      </div>
  </form>

{% endblock fos_user_content %}
