/*
 * FILTER SEARCH FORM
 */

#advanced-search-form {

    .filter-range {
        .label {
            line-height: 27px;
            font-size: 10px;
            font-weight: 600;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: $light-gray;
            color: $text-color;
        }
    }
}