{%- block file_widget -%}
    <label for="{{ form.parent.vars.id ~ '_file' }}" class="add btn btn-inverse btn-xs btn-mini button-upload-onlybutton">
        <i class="fa fa-upload"></i> {{ form.parent.vars.attr['upload_label'] }}
        {{ form_widget(form) }}
    </label>
{%- endblock file_widget -%}