<!-- TEMPLATE {{ _self }} -->

<div class="btn-group dropdown role-toggle-button-wrapper ">
    <button type="button" class="btn btn-inverse dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scegli i Ruoli
    </button>
    <div class="dropdown-menu js-drop-down-menu-content multiple border-checkbox-section form-group">
    </div>
</div>