<!-- TEMPLATE {{ _self }} -->
{% form_theme entity_form 'contact_flock/Contacts/Generic/Form/imageFile_file_widget.html.twig' %}
{% include 'admin_flock/crud/Form/render_field.html.twig' %}

{% if entity.image.name %}
    <div class="form-group col group- col-12 ">
        <label class="label-tag">{{ entity_form.children.imageFile.vars.label }} attuale:</label>
        <img class="image-file-thumb" src="{{ asset('media/images/' ~ entity.image.name) | imagine_filter('entity_image_thumb') }}" alt="{{ entity.image.name }}">
    </div>
{% endif %}
